<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<div class="form-actions">
  <%= link_to '戻る', diaries_path, class: "btn btn-default" %>
  <%= link_to "詳細を見る", @diary, class: "btn btn-default" %>
</div>

<h1>編集する</h1>

<%= render 'form' %>

 </div>
</div>
