<div class="row">
  <div class="span7 offset2">

<div class="form-actions">
  <%= link_to '戻る', diaries_path, class: "btn" %>
  <%= link_to "詳細を見る", @diary, class: "btn" %>
</div>

<h1>編集する</h1>

<%= render 'form' %>

 </div>
</div>
