<div class="row justify-content-center">
  <div class="col-sm-6">

<div class="form-actions mt15">
  <%= link_to '戻る', diaries_path, class: "btn btn-light" %>
  <%= link_to "詳細を見る", @diary, class: "btn btn-light" %>
</div>

<h1 class="normal">編集する</h1>

<%= render 'form' %>

 </div>
</div>
