<div class="row justify-content-center">
  <div class="col-sm-6">

<div class="form-actions mt15">
  <%= link_to '戻る', @referer_url, class: "btn btn-light" if @referer_url %>
  <%= link_to '日記一覧へ', diaries_path, class: "btn btn-light" %>
  <%= link_to "編集する", edit_diary_path, class: "btn btn-info" %>
</div>

<%= render partial: "show_ajax" %>

 </div>
</div>
