/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/*footer*/
footer {
  margin-top: 80px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0px;
  width: 100%;
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}


/**********************************************
 common
**********************************************/

.important {
  font-weight: bold;
  color: red;
}
.big {
  font-size: 120%;
}
.block {
  display: block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-center {
  text-align: center;
}

table.th-vertical-top th {
  vertical-align: top;
}

.desc {
  color: #999;
}
.well .desc {
  color: #6C6767;
}

/* tableでURLなど一単語のものが改行されずレイアウトが崩れてしまう問題の対処 */
td {
  word-break: break-all;
}
.select_menu {
  margin: 20px 0px 30px 0px;
}
a.colorbox:hover, a.colorbox_fix_size:hover {
  opacity: 0.8;
}
a.colorbox img, a.colorbox_fix_size img{
  border: 2px solid tomato;
}



