/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui/menu
 *= require jquery-ui/autocomplete
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


/*footer*/
footer {
  margin-top: 70px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 6px 0px;
  width: 100%;
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}
footer > p {
  margin: 1px 0;
  font-size: 90%;
}


/**********************************************
 common
**********************************************/
.mt0 { margin-top: 0px !important; }
.mb0 { margin-bottom: 0px !important; }
.mr0 { margin-right: 0px !important; }
.ml0 { margin-left: 0px !important; }

.mt5 { margin-top: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }
.ml5 { margin-left: 5px !important; }

.mt10 { margin-top: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mb30 { margin-bottom: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mb35 { margin-bottom: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mb40 { margin-bottom: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mb45 { margin-bottom: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mb50 { margin-bottom: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mb55 { margin-bottom: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mb60 { margin-bottom: 60px !important; }


.important {
  font-weight: bold;
  color: red;
}
.hint {
  color: #666;
  font-size: 85%;
}
.big {
  font-size: 120%;
}
.block {
  display: block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

table.th-vertical-top th {
  vertical-align: top;
}

.desc {
  color: #999;
}
.well .desc {
  color: #6C6767;
}

/* tableでURLなど一単語のものが改行されずレイアウトが崩れてしまう問題の対処 */
td {
  word-break: break-all;
}
.select_menu {
  margin: 20px 0px 30px 0px;
}
a.colorbox:hover, a.colorbox_fix_size:hover {
  opacity: 0.8;
}
a.colorbox img, a.colorbox_fix_size img{
  border: 2px solid tomato;
}


.habits_controller {
  .record_value {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .record_memo {
    font-size: 80%;
    color: #666;
    text-align: left;
  }

  div.description {
    font-size: 80%;
    color: #666;
  }
}

/**********************************************
 from bootstrap_and_overrides.css.less
 todo グルーピングして別ファイル切り出したい
**********************************************/

hr {
  margin: 5px 0;
}

.table th.today {
  background-color: red;
  color: white;
}
.table th.sunday {
  background-color: rosybrown;
}
.table th.saturday {
  background-color: Lightblue;
}
.table td.center, .table th.center {
  text-align: center;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}

.well.well-narrow {
  padding: 6px 8px 0px 8px;
}

.well2 {
  padding: 5px 20px 10px 20px;
  margin-top: 5px;
}

.btn-light {
  border-color: #ccc;
}

/**********************************************
見出し h1, h2, h3, h4
**********************************************/

/* 真面目系 */
h1.normal2, h2.normal2 {
  margin-top: 20px;
  font-size: 20px;
  background: #F8F8F8;
  border-left: 11px double #CCC;
  padding: 13px 10px;
}

h1.normal {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 24px;
  text-shadow: 1px 1px 1px white, 1px 1px 0px #000;
  color: #767676;
}

h3 .date {
  font-family: Impact;
  font-size: 26px;
}

h2.hilight {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 0px white, 3px 3px 0px #B0D3FF;
  color: #428bca;
}

/* 上のh2とは構造が違っていることに注意 */
h3 .hilight {
  font-weight: bold;
  font-size: 26px;
  text-shadow: 1px 1px 0px white, 3px 3px 0px #B0D3FF;
}

.page-header {
  padding-bottom: 0px;
  margin: 25px 0 25px;
  border-bottom: 1px solid #eeeeee;
}


/* simple_formで日付selectを作る場合に改行を適切にできるように */
.form-group-inline {
  .control-label {
    display: block;
  }

  .form-control {
    display: inline;
    width: 32%;
  }
}
