<div class="row">
  <div class="span7 offset2">

<div class="form-actions">
  <%= link_to '戻る', habits_path, class: "btn btn-default" %>
  <%= link_to "詳細を見る", @habit, class: "btn btn-default" %>
</div>

<h1>編集する</h1>

<%= render 'form' %>

 </div>
</div>
