<div class="row">
  <div class="col-sm-7 col-sm-offset-2"">

<div class="form-actions mb30">
  <%= link_to '戻る', habits_path, class: "btn btn-default" %>
  <%= link_to "詳細を見る", @habit, class: "btn btn-default" %>
</div>

<h1>編集する</h1>

<%= render 'form' %>

 </div>
</div>
