<div class="row justify-content-center mt15">
  <div class="col-sm-7">

<div class="form-actions mb30">
  <%= link_to '戻る', root_path, class: "btn btn-light" %>
  <%= link_to "詳細を見る", @habit, class: "btn btn-light" %>
</div>

<h1 class="normal">編集する</h1>

<%= render 'form' %>

 </div>
</div>
