<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<h1 class="normal">習慣一覧</h1>

<% @enable_habits.each do |habit| %>
  <%= render partial: 'index_detail', locals: {habit: habit} %>
<% end %>

<h2 class="btn btn-block btn-danger disabled">無効</h2>
<% @disable_habits.each do |habit| %>
  <%= render partial: 'index_detail', locals: {habit: habit} %>
<% end %>

<h2 class="btn btn-block btn-info disabled">完了（目標達成／習慣化済み）</h2>
<% @close_habits.each do |habit| %>
  <%= render partial: 'index_detail', locals: {habit: habit} %>
<% end %>

</div>
</div>
