<div class="row">
  <div class="col-sm-7 col-sm-offset-2"">

<div class="form-actions mb30">
  <%= link_to '戻る', root_path, class: "btn btn-default" %>
</div>

<h1>習慣を登録する</h1>

<%= render 'form' %>

 </div>
</div>
